.mediaViewInfo {

    --web-view-id: CRYPTOCURRENCY Organizer;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: CRYPTOCURRENCY Organizer;
}
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
} */
.container {

    /* max-width: 960px; */
    margin: auto;
    position: absolute;
    left: 200px;
    width: 1800px;
    height: 1080px;
    background-color: rgba(255,255,255,1);
    overflow: auto;
    --web-view-name: CRYPTOCURRENCY Organizer;
    --web-view-id: CRYPTOCURRENCY Organizer;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#Rectangle_1 {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 652px;
    height: 111px;
    left: 334px;
    top: 30px;
}
#CRYPTOCURRENCY_ {
    left: 371px;
    top: 31px;
    position: absolute;
    overflow: visible;
    width: 581px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 61px;
    color: rgba(0,0,0,1);
}
#A_daily_crypto_organizer {
    left: 546px;
    top: 105px;
    position: absolute;
    overflow: visible;
    width: 230px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(90,90,90,1);
}
#BUTTONS {
    position: absolute;
    width: 104px;
    height: 60px;
    left: 431px;
    top: 298px;
    overflow: visible;
    
}
#BuyButton {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 104px;
    height: 60px;
    left: 0px;
    top: 0px;
}
#BUTTONS_l {
    position: absolute;
    width: 104px;
    height: 60px;
    left: 549px;
    top: 298px;
    overflow: visible;
}
#SellButton{
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_4_m {
    position: absolute;
    overflow: visible;
    width: 104px;
    height: 60px;
    left: 0px;
    top: 0px;
}
#BUTTONS_n {
    position: absolute;
    width: 104px;
    height: 60px;
    left: 667px;
    top: 298px;
    overflow: visible;
}
#HoldButton {
    fill: rgb(0, 0, 0);
    stroke: rgba(0,0,0,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_4_o {
    position: absolute;
    overflow: visible;
    width: 104px;
    height: 60px;
    left: 0px;
    top: 0px;
}
.BUTTONS{
    border: 1px;
    border-color: black;
    
}

  .BUTTONS:hover {
    background-color: #e5e5e5;
  }

#BUTTONS_p {
    position: absolute;
    width: 104px;
    height: 60px;
    left: 785px;
    top: 298px;
    overflow: visible;
}
#HoldButton {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_4_q {
    position: absolute;
    overflow: visible;
    width: 104px;
    height: 60px;
    left: 0px;
    top: 0px;
}
#searchInput {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    border: 3px solid rgb(0, 0, 0);
    font-size: 14px;
  border-radius: 2px;
  box-sizing: border-box;
    padding: 6px;
  
}
.Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 652px;
    height: 33px;
    left: 334px;
    top: 154px;
    
}
#Rectangle_6 {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 652px;
    height: 91px;
    left: 334px;
    top: 197px;
}
#COLUMNS {
    mix-blend-mode: normal;
    position: absolute;
    width: 320px;
    height: 619px;
    left: 014px;
    top: 426px;
    overflow: visible;
}
#Rectangle_7 {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;

    width: 320px;
    height: 619px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 2px;
}
.Rectangle_7 {
    position: absolute;
    overflow: visible;
    width: 320px;
    height: 619px;
    left: 0px;
    top: 0px;
}
#COLUMNS_v {
    mix-blend-mode: normal;
    position: absolute;
    width: 320px;
    height: 619px;
    left: 350px;
    top: 426px;
    overflow: visible;
}
#Rectangle_7_w {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;

    width: 320px;
    height: 619px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 2px;
}
.Rectangle_7_w {
    position: absolute;
    overflow: visible;
    width: 320px;
    height: 619px;
    left: 0px;
    top: 0px;
}
#COLUMNS_x {
    mix-blend-mode: normal;
    position: absolute;
    width: 320px;
    height: 619px;
    left: 686px;
    top: 426px;
    overflow: visible;
}
#Rectangle_7_y {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;

    width: 320px;
    height: 619px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 2px;
}
.Rectangle_7_y {
    position: absolute;
    overflow: visible;
    width: 320px;
    height: 619px;
    left: 0px;
    top: 0px;
}
#COLUMNS_z {
    mix-blend-mode: normal;
    position: absolute;
    width: 320px;
    height: 619px;
    left: 1022px;
    top: 426px;
    overflow: visible;
}
#Rectangle_7_ {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;

    width: 320px;
    height: 619px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 2px;
}
.Rectangle_7_ {
    position: absolute;
    overflow: visible;
    width: 320px;
    height: 619px;
    left: 0px;
    top: 0px;
}
.Cards {
    position: relative;
    width: 281px;
    height: 141px;
    outline: 2px solid black;
    overflow: visible;
}

.CurrencyCard{

    left: 85px;
    top: 10px;
    position: absolute;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
    text-align: center;
    font-weight: bold;
}

.PriceCard {
    left: 18px;
    top: 50px;
    position: absolute;
    overflow: visible;
    width: 123px;
    height: 22px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,0,0,1);
}

.RankCard {
    left: 18px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 123px;
    height: 22px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,0,0,1);
}

.DayChangeCard {
    left: 18px;
    top: 110px;
    position: absolute;
    overflow: visible;
    width: 170px;
    height: 22px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,0,0,1);
}


#buy1 {

    position: relative;
    left: 34px;
    top: 444px;

}

#buy2 {

    position: absolute;
    left: 34px;
    top: 592px;
}

#buy3 {
    position: absolute;
    left: 34px;
    top: 742px;

    
}

#buy4 {

    position: absolute;
    left: 34px;
    top: 890px;
}

#sell1 {
   
    position: absolute;
    left: 371px;
    top: 444px;
}


#sell2 {
    position: absolute;
    left: 371px;
    top: 592px;

}

#sell3 {
    position: absolute;
    left: 371px;
    top: 742px;
}

#sell4 {
    position: absolute;
    left: 371px;
    top: 890px;
}


#hold1 {
    position: absolute;
    left: 705px;
    top: 444px;
}

#hold2 {
    position: absolute;
    left: 705px;
    top: 592px;

}

#hold3 {
    position: absolute;
    left: 705px;
    top: 742px;
    
}

#hold4 {
    position: absolute;
    left: 705px;
    top: 890px;
   
}

#watch1 {
   
    position: absolute;
    left: 1042px;
    top: 444px;
}
#watch2 {
    position: absolute;
    left: 1042px;
    top: 592px;
}
#watch3 {
    position: absolute;
   
    left: 1042px;
    top: 742px;
    
}
#watch4 {
    position: absolute;
    left: 1042px;
    top: 890px;
  
}



#CurrencyResults {
    left: 615px;
    top: 202px;
    position: absolute;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
    text-align: center;
    font-weight: bold;
}


#PriceResults {
    left: 390px;
    top: 250px;
    position: absolute;
    overflow: visible;
    width: 123px;
    height: 22px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,0,0,1);
}
#RankResults {
    left: 640px;
    top: 250px;
    position: absolute;
    overflow: visible;
    width: 123px;
    height: 22px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,0,0,1);
}

#DayChangeResults {
    left: 800px;
    top: 250px;
    position: absolute;
    overflow: visible;
    width: 170px;
    height: 22px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,0,0,1);
}


#Rectangle_9 {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_9 {
    position: absolute;
    overflow: visible;
    width: 320px;
    height: 45px;
    left: 14px;
    top: 372px;
}
#Rectangle_10 {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_10 {
    position: absolute;
    overflow: visible;
    width: 20px;
    height: 45px;
    left: 348px;
    top: 373px;
}
#Rectangle_11 {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_11 {
    position: absolute;
    overflow: visible;
    width: 320px;
    height: 45px;
    left: 1022px;
    top: 372px;
}
#Rectangle_12 {
    fill: rgba(255,255,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_12 {
    position: absolute;
    overflow: visible;
    width: 320px;
    height: 45px;
    left: 686px;
    top: 373px;
}
#Buy {
    left: 156px;
    top: 385px;
    position: absolute;
    overflow: visible;
    width: 29px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,0,0,1);
}
#Sell {
    left: 486px;
    top: 385px;
    position: absolute;
    overflow: visible;
    width: 28px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,0,0,1);
}
#Hold {
    left: 832px;
    top: 385px;
    position: absolute;
    overflow: visible;
    width: 37px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,0,0,1);
}
#Watch {
    left: 1177px;
    top: 385px;
    position: absolute;
    overflow: visible;
    width: 48px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(0,0,0,1);
}

.deleteBtn{

    left: 250px;
    top: 110px;
    height: 20px;
    width: 20px;
    position: absolute;
    border: 1px solid black;

   
}